<md-select
  placeholder="Reading"
  [(ngModel)]="language.reading"
  (change)="calc()"
>
  <md-option
    *ngFor="let level of levels"
    [value]="level"
  >
    {{ level.text }}
  </md-option>
</md-select>
<md-select
  placeholder="Writing"
  [(ngModel)]="language.writing"
  (change)="calc()"
>
  <md-option
    *ngFor="let level of levels"
    [value]="level"
  >
    {{ level.text }}
  </md-option>
</md-select>
<md-select
  placeholder="Listening"
  [(ngModel)]="language.listening"
  (change)="calc()"
>
  <md-option
    *ngFor="let level of levels"
    [value]="level"
  >
    {{ level.text }}
  </md-option>
</md-select>
<md-select
  placeholder="Speaking"
  [(ngModel)]="language.speaking"
  (change)="calc()"
>
  <md-option
    *ngFor="let level of levels"
    [value]="level"
  >
    {{ level.text }}
  </md-option>
</md-select>
