<header>
  <md-slide-toggle
    [(ngModel)]="spouse"
    (change)="calc()"
  >
    With a spouse or common-law partner
  </md-slide-toggle>
</header>

<section>
  <h2>A. Core / human capital factors &mdash; Total Score: {{ totalA }}</h2>

  <h3>Age &mdash; Score: {{ score.age }}</h3>
  <md-select
    placeholder="Age"
    [(ngModel)]="age"
    (change)="calc()"
  >
    <md-option
      *ngFor="let age of ages"
      [value]="age"
    >
      {{ age.text }}
    </md-option>
  </md-select>

  <h3>Level of Education &mdash; Score: {{ score.education }}</h3>
  <md-radio-group
    [(ngModel)]="education"
    (change)="calc()"
  >
    <md-radio-button
      *ngFor="let level of educationLevels"
      [value]="level"
    >
      {{ level.text }}
    </md-radio-button>
  </md-radio-group>

  <h3>Official languages proficiency</h3>
  <h4>first official language &mdash; score: {{ score.language }}</h4>
  <md-select
    placeholder="Reading"
    [(ngModel)]="reading"
    (change)="calc()"
  >
    <md-option
      *ngFor="let level of clbLevels"
      [value]="level"
    >
      {{ level.text }}
    </md-option>
  </md-select>
  <md-select
    placeholder="Writing"
    [(ngModel)]="writing"
    (change)="calc()"
  >
    <md-option
      *ngFor="let level of clbLevels"
      [value]="level"
    >
      {{ level.text }}
    </md-option>
  </md-select>
  <md-select
    placeholder="Listening"
    [(ngModel)]="listening"
    (change)="calc()"
  >
    <md-option
      *ngFor="let level of clbLevels"
      [value]="level"
    >
      {{ level.text }}
    </md-option>
  </md-select>
  <md-select
    placeholder="Speaking"
    [(ngModel)]="speaking"
    (change)="calc()"
  >
    <md-option
      *ngFor="let level of clbLevels"
      [value]="level"
    >
      {{ level.text }}
    </md-option>
  </md-select>
  <md-slide-toggle
    [(ngModel)]="secondLanguage"
    (change)="calc()"
    class="h4"
  >
    <h4>second official language &mdash; score: {{ score.language2 }}</h4>
  </md-slide-toggle>
  <section *ngIf="secondLanguage">
    <md-select
      placeholder="Reading"
      [(ngModel)]="reading2"
      (change)="calc()"
    >
      <md-option
        *ngFor="let level of clbLevels2"
        [value]="level"
      >
        {{ level.text }}
      </md-option>
    </md-select>
    <md-select
      placeholder="Writing"
      [(ngModel)]="writing2"
      (change)="calc()"
    >
      <md-option
        *ngFor="let level of clbLevels2"
        [value]="level"
      >
        {{ level.text }}
      </md-option>
    </md-select>
    <md-select
      placeholder="Listening"
      [(ngModel)]="listening2"
      (change)="calc()"
    >
      <md-option
        *ngFor="let level of clbLevels2"
        [value]="level"
      >
        {{ level.text }}
      </md-option>
    </md-select>
    <md-select
      placeholder="Speaking"
      [(ngModel)]="speaking2"
      (change)="calc()"
    >
      <md-option
        *ngFor="let level of clbLevels2"
        [value]="level"
      >
        {{ level.text }}
      </md-option>
    </md-select>
  </section>

  <h3>Canadian work experience &mdash; Score: {{ score.work }}</h3>
  <md-select
    placeholder="Work Experience"
    [(ngModel)]="work"
    (change)="calc()"
  >
    <md-option
      *ngFor="let level of canadianWorkExperience"
      [value]="level"
    >
      {{ level.text }}
    </md-option>
  </md-select>
</section>

<section *ngIf="spouse">
  <h2>B. Spouse or common-law partner factors &mdash; Total Score: {{ totalB }}</h2>

  <h3>Spouse's level of education &mdash; Score: {{ score.spouseEducation }}</h3>
  <md-radio-group
    [(ngModel)]="spouseEducation"
    (change)="calc()"
  >
    <md-radio-button
      *ngFor="let level of spouseEducationLevels"
      [value]="level"
    >
      {{ level.text }}
    </md-radio-button>
  </md-radio-group>

  <h3>Spouse's official languages proficiency &mdash; Score: {{ score.spouseLanguage }}</h3>
  <md-select
    placeholder="Reading"
    [(ngModel)]="spouseReading"
    (change)="calc()"
  >
    <md-option
      *ngFor="let level of spouseCLBLevels"
      [value]="level"
    >
      {{ level.text }}
    </md-option>
  </md-select>
  <md-select
    placeholder="Writing"
    [(ngModel)]="spouseWriting"
    (change)="calc()"
  >
    <md-option
      *ngFor="let level of spouseCLBLevels"
      [value]="level"
    >
      {{ level.text }}
    </md-option>
  </md-select>
  <md-select
    placeholder="Listening"
    [(ngModel)]="spouseListening"
    (change)="calc()"
  >
    <md-option
      *ngFor="let level of spouseCLBLevels"
      [value]="level"
    >
      {{ level.text }}
    </md-option>
  </md-select>
  <md-select
    placeholder="Speaking"
    [(ngModel)]="spouseSpeaking"
    (change)="calc()"
  >
    <md-option
      *ngFor="let level of spouseCLBLevels"
      [value]="level"
    >
      {{ level.text }}
    </md-option>
  </md-select>

  <h3>Spouse's Canadian work experience &mdash; Score: {{ score.spouseWork }}</h3>
  <md-select
    placeholder="Work Experience"
    [(ngModel)]="spouseWork"
    (change)="calc()"
  >
    <md-option
      *ngFor="let level of spouseWorkExperience"
      [value]="level"
    >
      {{ level.text }}
    </md-option>
  </md-select>
</section>
