.mat-radio-button {
  display: block;

  /deep/ .mat-radio-label {
    white-space: normal;
  }

  /deep/ .mat-radio-container {
    flex-shrink: 0;
  }
}

.mat-slide-toggle {
  display: block;

  &.h4 {
    height: 4rem;

    /deep/ .mat-slide-toggle-content {
      font-size: 1rem;
    }
  }
}

.mat-select {
  min-width: 9rem;
}
