<header>
  <md-slide-toggle
    [(ngModel)]="spouse"
    (change)="calc()"
  >
    With a spouse or common-law partner
  </md-slide-toggle>
</header>

<section>
  <h2>A. Core / human capital factors</h2>
   <h3>Age</h3>
  <md-select
    placeholder="Age"
    [(ngModel)]="age"
    (change)="calc()"
  >
    <md-option
      *ngFor="let age of ages"
      [value]="age"
    >
      {{ age.text }}
    </md-option>
  </md-select>
  <p>
    <span>Score:</span>
    <span>{{ score.age }}</span>
  </p>
  <h3>Level of Education</h3>
  <md-radio-group
    [(ngModel)]="educationLevel"
    (change)="calc()"
  >
    <md-radio-button
      *ngFor="let level of educationLevels"
      [value]="level"
    >
      {{ level.text }}
    </md-radio-button>
  </md-radio-group>
  <p>
    <span>Score:</span>
    <span>{{ score.educationLevel }}</span>
  </p>
</section>
